#!/usr/bin/env bash

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=00;34:ln=00;35:pi=00;33:so=00;32:do=01;35:ex=01;31:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='Exfxbxdxcxegedabagacad'
fi

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Navigation / common tools
alias ..="cd .."
alias cp="cp -v"
alias mv="mv -v"
alias dl="cd ~/Downloads"
alias desk="cd ~/Desktop"
alias ll="ls -lF ${colorflag}"
alias la="ls -lAhF ${colorflag}"
alias grep='grep --color=auto --exclude-dir=.git'
alias k='kubectl'

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
# Clean temporary/undesired files
alias cleanup='find . -type f \( -iname "*~" -o -iname ".*~" -o -iname "#*#" -o -iname ".#*#" -o -iname "*.o" -o -iname "*(deleted*" -o -iname "*conflicted*" -o -iname "a.out" -o -iname ".out" -o -iname "*.DS_Store" \) -ls -delete'
# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper (Renderer) --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"
# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"
# Show public IP
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
# Show local IP
alias localip="ipconfig getifaddr en0"
# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
# `tree` is a `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
alias tree='tree -aC -I ".git|node_modules|bower_components" --dirsfirst "$@" | less -FRNX;'
# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'
# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
# Valgrind
alias valeak="valgrind --leak-check=full --show-reachable=yes"
# start docker-mac-net-connect
alias docker-mac-net-start="sudo brew services start chipmk/tap/docker-mac-net-connect"
# stop docker-mac-net-connect
alias docker-mac-net-stop="sudo brew services stop chipmk/tap/docker-mac-net-connect"
# bypass brew issue when installing nano
alias nano="/usr/local/bin/nano"
