#!/usr/bin/env bash

# Create a .tar.gz archive, using `zopfli`, `pigz` or `gzip` for compression
function targz() {
	local tmpFile="${@%/}.tar";
	tar -cvf "${tmpFile}" --exclude=".DS_Store" "${@}" || return 1;

	size=$(
		stat -f"%z" "${tmpFile}" 2> /dev/null; # macOS `stat`
		stat -c"%s" "${tmpFile}" 2> /dev/null;  # GNU `stat`
	);

	local cmd="";
	if (( size < 52428800 )) && hash zopfli 2> /dev/null; then
		# the .tar file is smaller than 50 MB and Zopfli is available; use it
		cmd="zopfli";
	else
		if hash pigz 2> /dev/null; then
			cmd="pigz";
		else
			cmd="gzip";
		fi;
	fi;

	echo "Compressing .tar ($((size / 1000)) kB) using \`${cmd}\`…";
	"${cmd}" -v "${tmpFile}" || return 1;
	[ -f "${tmpFile}" ] && rm "${tmpFile}";

	zippedSize=$(
		stat -f"%z" "${tmpFile}.gz" 2> /dev/null; # macOS `stat`
		stat -c"%s" "${tmpFile}.gz" 2> /dev/null; # GNU `stat`
	);

	echo "${tmpFile}.gz ($((zippedSize / 1000)) kB) created successfully.";
}

# Determine size of a file or total size of a directory
function filesize() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# Use Git’s colored diff when available
hash git &>/dev/null;
if [ $? -eq 0 ]; then
	function diff() {
		git diff --no-index --color-words "$@";
	}
fi;

# Start an HTTP server from a directory
function server() {
    python -m SimpleHTTPServer
}

# Run `dig` and display the most useful info
function digga() {
	dig +nocmd "$1" any +multiline +noall +answer;
}

function dockerstopall() {
    docker ps -a | awk '{print $1}' | xargs docker stop
}

function  dockerrmall() {
    docker ps -a | awk '{print $1}' | xargs docker rm
}

# Docker full clean
function dockerprune() {
    dockerstopall; dockerrmall ; docker rmi -f $(docker images -q); docker system prune --all --volumes --force
}

# Get ECR token access
function ecrlogin() {
	if [ -z "$1" ]
	then
		echo "Retrieving ecr token for default profile..."
		aws ecr get-login --no-include-email --region eu-west-1 | sh /dev/stdin
	else
			
		aws ecr get-login --no-include-email --region eu-west-1 --profile "$1" | sh /dev/stdin
	fi
}

# Update cluster state (master/nodes)
function clusterupdate() {
	if [  $# -ne 3 ]
	then
		echo "cluster <NODES> <MASTER> <STATE>";
	else
		sudo kops edit ig "$1" --state="$3";
		sudo kops edit ig "$2" --state="$3";
		sudo kops update cluster --yes --state="$3";
		sudo kops rolling-update cluster --yes --cloudonly --state="$3";
	fi
}

# Set k8s context
function kubectx() {
	if [ -z "$1" ]
	then
		echo "kubectx <CTX>";
	else
		sudo kubectl config use-context "$1";
	fi
}
