[alias]
    slog = log --pretty=oneline -n 20 --graph --abbrev-commit
    sdiff = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
    spull = !"git pull; git submodule foreach git pull origin master"
    sclone = clone --recursive
    scommit = !git add -A && git commit -av --signoff
    pushstash = "!f() { git stash push -u --keep-index -m \"$1\"; }; f"
    popstash = "!f() { git stash apply stash@{\"$1\"}; }; f"
    dropstash="!f() { git stash drop stash@{\"$1\"}; }; f"
    go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
    ghpr = "!f() { git fetch upstream pull/\"$1\"/head; git checkout -b gh_\"$1\" FETCH_HEAD; }; f"
    tags = tag -l
    branches = branch -avv
    remotes = remote -v
    aliases = config --get-regexp alias
    contributors = shortlog --summary --numbered

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red # deletions
    new = green # additions

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
    edition = nano
    editor = nano
    pager = delta --dark --syntax-theme TwoDark --hunk-header-style plain --line-numbers

[http]
    cookiefile = ~/.gitcookies

[merge]
    log = true

[pull]
    rebase = false

[push]
    default = simple

[remote]
    pushdefault = origin

[credential]
    helper = osxkeychain

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge --skip -- %f
    process = git-lfs filter-process --skip
    required = true

[user]
    name = Thomas Milox
    email = thomasmilox@gmail.com
