awscli
botocore>=1.11.0
cffi
click
cloudpickle
cython
dask[complete]>=0.18.2
fastparquet
flask
jupyter
keras
numpy
pandas
partd
PyAthena
python-dateutil
python-snappy
requests
s3fs
selenium
scipy
sklearn
tensorflow
toolz
tornado
virtualenv
websocket
xgboost
yapf
