awscli
botocore>=1.11.0
cffi
click
cloudpickle
cython
dask[complete]>=0.18.2
fastparquet
flask
jupyter
keras
numpy
pandas
partd
PyAthena
pylint
python-dateutil
requests
s3fs
selenium
scipy
sklearn
toolz
tornado
virtualenv
websocket
xgboost
